my-comment {
    display: block;
}

::slotted(*) {
    margin: 10px;
}

.comments h2 {
    color: var(--title);
    text-transform: capitalize;
    font-family: var(--title-font);
    font-size: calc(var(--width) / 30);
}
